
{% extends 'base.html' %}

{% block title %}
    Algorithms
{% endblock %}

{% block content %}
<a href="{% url 'longest' %}">
  <div>
  </div>
</a>

<div class="wrapper _container">
  <div class="wrapper__text">
      <h1 class="wrapper__title title">{{ name }}</h1>
      <h2 class="wrapper__subtitle subtitle spisok">{{ active }}</h2>
  </div>
  <div class="wrapper__icon">
      <img src="../static/img/bunny.png" alt="" class="wrapper__icon-img">
  </div>
  <div class="wrapper__area2">
      
    <!--<button class="custom-btn btn-6"><span>Кнопка 6</span></button>
    <button class="custom-btn btn-3"><span>Кнопка 3</span></button>
    <button class="stylistics_knopkam maiden-8">Восьмая</button>-->
    <button class="area2__button">Первая</button>
    <button class="area2__button">Вторая</button>
    <button class="area2__button">Третья</button>

  </div> 
</div> 

  <div class="gray">

  </div>


{% endblock %}
