{% extends 'base.html' %}

{% block title %}
    File asdsad
{% endblock %}

{% block content %}
    <!--<h2>File Upload</h2>
    <form action="{% url 'upload_file' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="myfile">
        <button type="submit">Upload</button>
    </form>-->
    <div class="wrapper _container">
        <div class="wrapper__text">
            <h1 class="wrapper__title title">Please upload file here</h1>
            <h2 class="wrapper__subtitle subtitle">Select relevant documents to complete your kyc</h2>
        </div>
        <div class="wrapper__icon">
            <img src="../static/img/bunny.png" alt="" class="wrapper__icon-img">
        </div>
        <div id="dropzone" class="">
            <div class="area__icon">
                <img src="../static/img/loading.png" alt="" class="area__icon-img">
            </div>
            <div class="area__text__title">drag and drop or enter file path</div>
            <div class="area__text__subtitle">Разрешение такое-то</div>
            <!--<input type="text" class="area__input" type="file">-->
            
            <input type="file" id='file'class='area__input' >
            
        </div> 
            <ul id="file_list"></ul>
            
        <div class="wrapper__buttons buttons">
            <button class="buttons__cancel button">Cancel</button>
            <button id="submitBtn" class="buttons__upload button hidden">Upload</button>            
        </div>
    </div>
{% endblock %}
