@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-style: 100%;
  line-height: 1;
  font-style: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-style: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "Helvetica"; /* Гарнитура шрифта */
  src: url("../fonts/helvetica_regular.otf") format("truetype"); /* Путь к файлу со шрифтом */
}
.title {
  font-size: 30px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
}

.subtitle {
  font-size: 20px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  color: #777777;
}

.area__text {
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  pointer-events: none;
}

#dropzone {
  border: 2px dashed rgba(0, 0, 0, 0.25);
  height: 400px;
  max-width: 1048px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#dropzone.hover {
  border-color: green;
}

#dropzone {
  position: relative;
}

.preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.9rem;
}

.preview-image {
  width: 100%;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: rgba(219, 218, 218, 0.7058823529);
  border-radius: 10px;
}

.preview-image:hover .preview-remove {
  opacity: 1;
}

.preview-image img {
  width: 100px;
  height: auto;
  border-radius: 10px;
  margin: 10px;
}

.preview-remove {
  opacity: 0;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: opacity 0.22s;
}

.preview-info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.preview-info .preview-info-name {
  padding: 10px;
  font-size: 20px;
}
.preview-info .preview-info-size {
  padding: 10px;
  font-size: 17px;
}

.input {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  margin-top: -70px;
  opacity: 0;
}

.button {
  height: 60px;
  width: 140px;
  display: block;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  font-family: "Helvetica";
  font-size: 20px;
}

.hidden {
  pointer-events: none;
  color: #777777;
  display: none;
}

.btn {
  color: #0F91D2;
  padding: 20px;
  border: 2px solid #0F91D2;
  position: absolute;
  bottom: 32%;
  left: 43%;
  border-radius: 10px;
  font-size: 20px;
  display: block;
  height: 60px;
  width: 140px;
  pointer-events: none;
  background-color: #fff;
}
.btn:hover {
  background-color: #777777;
}

.form {
  position: relative;
}

.aboba {
  padding: 5px;
  margin: 0 auto;
  border-radius: 10px;
  font-size: 20px;
  display: block;
  height: 60px;
  width: 140px;
  opacity: 0;
}

.buttons__upload {
  background-color: #fff;
  border-radius: 10px;
  padding: 12px;
  margin: 20px 0 0 0;
  margin: 0 auto;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.1607843137);
}
.buttons__upload:hover {
  color: #0F91D2;
}
.buttons__upload:active {
  background-color: rgba(231, 229, 229, 0.1);
}

.air {
  height: 30px;
}

#upload {
  width: 100%;
  position: relative;
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

.btn-6 {
  background: rgb(247, 150, 192);
  background: radial-gradient(circle, rgb(247, 150, 192) 0%, rgb(118, 174, 241) 100%);
  line-height: 42px;
  padding: 0;
  border: none;
}

.btn-6 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.btn-6:before,
.btn-6:after {
  position: absolute;
  content: "";
  height: 0%;
  width: 1px;
  box-shadow: -1px -1px 20px 0px rgb(255, 255, 255), -4px -4px 5px 0px rgb(255, 255, 255), 7px 7px 20px 0px rgba(0, 0, 0, 0.4), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
}

.btn-6:before {
  right: 0;
  top: 0;
  transition: all 500ms ease;
}

.btn-6:after {
  left: 0;
  bottom: 0;
  transition: all 500ms ease;
}

.btn-6:hover {
  background: transparent;
  color: #76aef1;
  box-shadow: none;
}

.btn-6:hover:before {
  transition: all 500ms ease;
  height: 100%;
}

.btn-6:hover:after {
  transition: all 500ms ease;
  height: 100%;
}

.btn-6 span:before,
.btn-6 span:after {
  position: absolute;
  content: "";
  box-shadow: -1px -1px 20px 0px rgb(255, 255, 255), -4px -4px 5px 0px rgb(255, 255, 255), 7px 7px 20px 0px rgba(0, 0, 0, 0.4), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
}

.btn-6 span:before {
  left: 0;
  top: 0;
  width: 0%;
  height: 0.5px;
  transition: all 500ms ease;
}

.btn-6 span:after {
  right: 0;
  bottom: 0;
  width: 0%;
  height: 0.5px;
  transition: all 500ms ease;
}

.btn-6 span:hover:before {
  width: 100%;
}

.btn-6 span:hover:after {
  width: 100%;
}

/*------------------------------------------------------------------------------------------*/
HTML CSSResult Skip Results Iframe EDIT ON .custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

/* 3 */
.btn-3 {
  background: rgb(0, 172, 238);
  background: linear-gradient(0deg, rgb(0, 172, 238) 0%, rgb(2, 126, 251) 100%);
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
}

.btn-3 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.btn-3:before,
.btn-3:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background: rgb(2, 126, 251);
  transition: all 0.3s ease;
}

.btn-3:before {
  height: 0%;
  width: 2px;
}

.btn-3:after {
  width: 0%;
  height: 2px;
}

.btn-3:hover {
  background: transparent;
  box-shadow: none;
}

.btn-3:hover:before {
  height: 100%;
}

.btn-3:hover:after {
  width: 100%;
}

.btn-3 span:hover {
  color: rgb(2, 126, 251);
}

.btn-3 span:before,
.btn-3 span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background: rgb(2, 126, 251);
  transition: all 0.3s ease;
}

.btn-3 span:before {
  width: 2px;
  height: 0%;
}

.btn-3 span:after {
  width: 0%;
  height: 2px;
}

.btn-3 span:hover:before {
  height: 100%;
}

.btn-3 span:hover:after {
  width: 100%;
}

/*--------------------------------------------------------------------------------------------*/
.nasimnaya_knopka {
  margin: 10%;
  text-align: center;
}

.stylistics_knopkam {
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 18px;
  height: 62px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  text-shadow: 0 1px 0 #312c2c;
  border-radius: 50px;
  moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.stylistics_knopkam:hover {
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.stylistics_knopkam:focus {
  outline: none;
}

.stylistics_knopkam.maiden-8 {
  background-image: linear-gradient(to right, #364a61, #4279b5, #54a3d8, #7663b9);
  box-shadow: 0 4px 15px 0 rgba(72, 83, 97, 0.75);
}

.header {
  background: rgb(255, 255, 255);
  grid-area: header;
  padding: 15px;
  margin: 0 0 20px 0;
}
.header .header__list {
  display: grid;
  grid-auto-flow: column;
  grid-template: 1fr/minmax(auto, 100px) minmax(auto, 1100px) 1fr;
  justify-items: start;
}
.header .header__list .header__link {
  color: inherit;
  text-decoration: none;
  color: #0F91D2;
  font-size: 18px;
}

.spisok {
  background: rgb(255, 255, 255);
  grid-area: header;
  color: black;
  padding: 15px;
}
.spisok .count {
  margin: 0 0 15px 20px;
}
.spisok .kol {
  margin: 0 0 15px 50px;
}
.spisok .message {
  margin: 0 0 15px 5px;
}
.spisok .spisok__list {
  display: grid;
  grid-auto-flow: column;
  grid-template: 1fr/minmax(auto, 100px) minmax(auto, 1100px) minmax(auto, 100px);
  justify-items: start;
}
.spisok .spisok__list .spisok__link {
  font-size: 18px;
}

body::first-child {
  height: 100%;
  display: flex;
  flex-direction: column;
}

@font-face {
  font-family: "Helvetica"; /* Гарнитура шрифта */
  src: url("../fonts/helvetica_regular.otf") format("truetype"); /* Путь к файлу со шрифтом */
}
body {
  background-color: rgb(255, 255, 255);
  font-family: "Helvetica";
  color: black;
  height: 100%;
}

._container {
  max-width: 1048px;
  margin: 0 auto;
  padding: 0 15px;
}

.main {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0 0 70px 0;
}

.gray {
  background-color: rgba(0, 0, 0, 0.1);
  height: 150px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 0 0 70px 0;
}
.wrapper .wrapper__text {
  text-align: center;
  margin: 70px 0px 40px 0;
}
.wrapper .wrapper__text .wrapper__title {
  margin: 0 0 20px 0;
}
.wrapper .wrapper__icon {
  margin: 10px 0 40px 0;
}
.wrapper .wrapper__icon .wrapper__icon-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 90px;
  width: 90px;
}
.wrapper .wrapper__area .area__icon {
  margin: 20px 0 20px 0;
  pointer-events: none;
}
.wrapper .wrapper__area .area__text__title {
  font-size: 25px;
  text-align: center;
  margin: 0 0 10px 0;
}
.wrapper .wrapper__area .area__text__subtitle {
  font-size: 18px;
  text-align: center;
  color: #777777;
  margin: 10px 0;
}

.wrapper__area2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px dashed rgba(0, 0, 0, 0.25);
  height: 400px;
  max-width: 1048px;
  border-radius: 10px;
  margin: 0 0 70px 0;
  flex-direction: column;
  padding: 10px;
}

.area2__button {
  width: 100%;
  color: #0F91D2;
  padding: 20px;
  border: 2px solid #0F91D2;
  height: 100px;
  border-radius: 10px;
  font-size: 20px;
  background-color: #fff;
}